@media screen and (max-width: 730px) {
  header {
    height: 144px;
  }
  header nav {
    flex-direction: column;
    height: 144px;
  }
  header nav div input {
    width: 70vw;
    margin-left: 0%;
    padding: 0 6px;
  }

  header nav div button.btn {
    margin: 5px;
  }

  main section div.card-h-b {
    height: 75px;
    padding: 0px 10px;
  }
}
