.loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 2.5rem);
	> .loader {
		border: 8px solid #f3f3f3;
		border-top: 10px solid #3498db;
		border-radius: 50%;
		width: 200px;
		height: 200px;
		animation: spin 3s linear infinite;
	}
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.skeleton-loader {
	display: flex;
	flex-direction: column;
	margin: 2rem 0 0;
}

.skeleton-shape {
	height: 30px;
	width: 100%;
	background-color: #ddd;
	margin-bottom: 10px;
	border-radius: 4px;
	animation: skeleton-loading 1.5s infinite;
}

@keyframes loading-animation {
	to {
		transform: rotateZ(360deg);
	}
}
@keyframes up-and-down {
	to {
		transform: translate(-50%, -20%);
	}
}

@keyframes skeleton-loading {
	0% {
		opacity: 0.4;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}
